<!DOCTYPE html>
<html>
  <head>
    <title>Horror TV</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdn.plyr.io/2.0.18/plyr.css">
  </head>

  <body>
    <%= render "layouts/header" %>

  <div>
  <div>

  <div data-type="youtube" data-video-id="<%= @video.filename %>"></div>

  </div>
  </div>

  <script src="https://cdn.plyr.io/2.0.18/plyr.js"></script>
  <script>plyr.setup();</script>
  </body>
</html>
