<!DOCTYPE html>
<html>
  <head>
    <title>Horror TV</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/header" %>

  <div>
  <div>

  <iframe id="video" src="<%= @video.filename %>?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  </div>
  </div>


  </body>
</html>
