<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116753536-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-116753536-1');
    </script>
    <title>Demon Video | Free Cult Horror Streaming</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdn.plyr.io/2.0.18/plyr.css">
  </head>

  <body>
    <%= render "layouts/header" %>

  <div>
  <div>

  <div style=".plyr__controls {
  background:url(thrillerlogo.jpg) 98% 80% no-repeat !important;
  background-size:100px auto,auto!important
};" data-type="youtube" data-video-id="<%= @video.filename %>"></div>

  </div>
  </div>

  <script src="https://cdn.plyr.io/2.0.18/plyr.js"></script>
  <script>
$(function() {
  plyr.setup();
});

  </script>
  </body>
</html>
